<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="light" *ngIf="!isUserLoggedIn">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ENSA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/signup">S'inscrire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/login">Connecter</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="light" *ngIf="isUserLoggedIn">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ENSA espace</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/dashboard">List Etudiants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/student">Ajouter Etudiant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/teacher">Ajouter Prof</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/teachers">Liste Profs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/modules">Liste Modules</a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" aria-current="page" (click)="logout()">Déconnecter</a>

                </li>

            </ul>
        </div>
    </div>
</nav>