<div class="input-group mb-3" style="width: 350px; margin-left: 450px; margin-top: 20px;" [formGroup]="validateForm">
    <input type="text" class="form-control" formControlName="title" placeholder="Chercher"
        aria-label="Write username to search" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2"
        (click)="searchStudentByName()">Chercher</button>
</div>


<ng-container *ngIf="students">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom d'utlisateur</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <th scope="row">{{student.name}}</th>
                <td>{{student.nom}}</td>
                <td>{{student.prenom}}</td>
                <td>
                    <button type="button" class="btn btn-success" style="margin-left: 10px;"
                        routerLink="/student/{{student.id}}">Changer</button>
                    <button type="button" class="btn btn-danger" style="margin-left: 10px;"
                        (click)="deleteStudent(student.id)">Supprimer</button>
                        <button type="button" class="btn btn-primary" routerLink="/fee/{{student.id}}">Ajouter Modules</button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>